/* completing basic requirements of assignment first,
    then I'll add a normalization block and add more
    styling. */

nav, h1, h2, h3, h4 {
    text-align: center;
}

body {
    margin-left: 20%;
    margin-right: 20%;
    background-color: slategray;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.square {
    width: 65%;
}

img.tall {
    width: 45%;
}

figcaption {
    text-align: center;
    padding-top: 0.1em;
}

#authorblock {
    text-align: center;
    font-family: monospace;
}